* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  justify-content: center;
}

.navbar {
  width: 100%;
  background-color: #f15bb5;
  font-family: "Roboto", sans-serif;
  color: #00bbf9;
  display: flex;
  align-items: center;
  height: 100px;
  text-transform: uppercase;
}

.navbar .h2 {
  font-size: 50px;
  position: absolute;
  left: 20px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
  position: absolute;
  right: 20px;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: #fee440;
  font-size: 25px;
}

.navbar .nav-links li a:hover {
  color: #9b5de5;
  background: #00f5d4;
  padding: 10px;
  border-radius: 15px;
}

.navbar .navtog div {
  width: 25px;
  height: 5px;
  margin: 5px;
  background-color: #00bbf9;
}

.navbar .navtog {
  display: none;
}

.container {
  background: #fee440;
  margin: 20px;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
  .navbar .navtog {
    display: block;
    position: absolute;
    right: 20px;
  }

  .navbar {
    height: 15vh;
  }

  .navbar .nav-links {
    position: absolute;
    top: 100vh;
    background-color: #00bbf9;
    width: 100%;
    right: 0px;
    height: 86%;

    flex-direction: column;
    justify-content: flex-start;
    font-size: 30px;
    text-align: center;
    transform: translateY(0%);
  }
  .navbar .nav-links li {
    margin: 11%;
  }
  .navbar .nav-links {
    visibility: hidden;
  }

  .navbar .nav-links.active {
    visibility: visible;
    display: flex;
    transform: translateY(-100%);
    transition: 0.2s ease-in;
  }
  .navbar.active {
    background: #00bbf9;
    color: #9b5de5;
  }

  .navbar .nav-links.active {
    animation: fadeIn ease 1s;
  }

  .navbar .nav-links li a:hover {
    background-color: #00bbf9;
    color: #9b5de5;
  }

  .navbar .navtog.active div {
    background-color: #9b5de5;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
